@use 'sass:map';

// Colors
$black: #000;
$white: #fff;
$black-900: rgba($black, 0.9);
$black-800: rgba($black, 0.8);
$black-700: rgba($black, 0.7);
$black-600: rgba($black, 0.6);
$black-500: rgba($black, 0.5);
$black-400: rgba($black, 0.4);
$black-300: rgba($black, 0.3);
$black-200: rgba($black, 0.2);
$black-100: rgba($black, 0.1);

// Fonts
$primary-font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;

// Breakpoints and sizes
$breakpoints: (
  xs: 375px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
$max-width: map.get($breakpoints, 'xl');
